@import './_reset';
@import './fonts';
@import './UI';
@import './vars';

/*
header

navigation

service-brand

services

parts

oils

contacts

footer
*/



// header

.header {
    .header__container {
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
    
        padding-top: 20px;
        margin-bottom: 24px;
    
        @media (max-width: 768px) {
            display: none;
        }
    }
    
    .header__img {
        width: 100%;
    }
    
    .header__contact {
        
        @media (max-width: 768px) {
            
        }
    }
    
    .header__number {
        font-size: 28px;
        font-weight: 700;

        a {
            text-decoration: none;
        }
    }

    .header__telephone {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: end;
        row-gap: 14px;
    }
}




// navigation

.navigation {
    background: #11161D;

    margin-bottom: 50px;

    .navigation__items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 30px;
    }
    
    .navigation__link {
        color: #FEFEFE;
    
        cursor: pointer;
    
        display: inline-block;
    
        text-align: center;
        text-decoration: none;
    
        transition: 200ms;
    
        padding: 30px 0;
    
        width: 100%;
        height: 100%;
    
        &:hover {
            background: #DD2A1B;
        }
    }
}




// cooperation 

.cooperation {

}




// service-brand

.service-brand {
    
    // .service-brand_slider_items {
    //     display: inline-grid;
    //     grid-template-columns: repeat(5, 1fr);
    //     grid-gap: 45px;
        
    //     margin: 0 auto;
    // }

    .service-brand_slider_container {
        min-width: 0;
    }
}




// services

.services {

    .services__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .services__list_item {
        display: flex;
        align-items: center;
        flex-direction: column;

        &:nth-last-child(2) {
            grid-column: 2;

            @media (max-width: 768px) {
                grid-column: 1;
            }
        }

        &:last-child {
            grid-column: 3;

            @media (max-width: 768px) {
                grid-column: 2;
            }
        }

    }

    .services__list_img {
        width: 100%;
    }

    .services__list_name {
        background: #DD2A1B;

        color: #FEFEFE;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-size: 20px;
        font-weight: 400;

        width: 100%;
        height: 60px;
    }

    .services__list_price {
        color: #141515;

        cursor: pointer;

        margin-top: 20px;
    }
}




// cooperation

.cooperation {

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }

    .cooperation__image {
        flex: 0 0 40%;

        img {
            width: 100%;
        }
    }

    .cooperation_text {
        flex: 1 1 50%;
    }

    .cooperation__buttons {
        display: flex;
        column-gap: 30px;

        margin-top: 35px;

        a {
            text-decoration: none;
        }
    }

    .cooperation__button {
        display: flex;
        justify-content: center;

        text-decoration: none;

        width: 160px;
        height: 60px;
    }
}




// parts

.parts {
    margin-left: auto;

    .parts__image {
        flex: 0 0 50%;

        img {
            width: 100%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .parts__text {
        flex: 1 1 30%;
    }
}




// oils

.oils {

    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }

    .oils__image {
        flex: 0 0 50%;

        img {
            width: 100%;
        }

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .oils_text {
        flex: 1 1 30%;
    }

    .oils__ul {
        margin-top: 12px;
    }
}




// contacts

.contacts {
    margin-bottom: 100px;

    .contacts__content {
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    .contacts__map {
        width: 100%;
    }

    .contact__item:last-child {
        display: flex;
        align-items: flex-end;

        width: 100%;
        height: 100%;
    }

    .contacts__map_img {
        width: 100%;
        height: 100%;
    }
}




// footer

.footer {
    background: #11161D;

    padding: 20px;
}

.footer__container {
    font-size: 16px;
    color: #FFFFFF;

    text-align: center;
}

.footer__link {
    color: #FFFFFF;

    text-decoration: underline;
}