/*
a

arrow__to-top

banner

button

button__telephone

input

    textarea

input-radio

contact

container

section

slider

swipper

list__ul

p

modal

_red-block

_grey-block
*/


a {
    text-decoration: underline;

    transition: 200ms;

    &:hover {
        text-decoration: none;
    }
}

.arrow__to-top {
    cursor: pointer;

    display: block;

    transition: 200ms;

    position: fixed;
    bottom: 8px;
    right: 20px;

    svg {
        transition: 200ms;

        &:hover > circle {
            fill-opacity: 1;
            fill: #DD2A1B;
        }

        &:active > circle {
            fill-opacity: 0.9;
            fill: #DD2A1B;
        }
    }

    &._no-active {
        display: none;
    }
}

.banner {
    background: url('../img/banner.webp') no-repeat;
    background-size: cover;
    background-position: right;

    @media (max-width: 768px) {
        margin-top: 75px;
    }

    .banner__text {
        display: flex;
        flex-direction: column;
        row-gap: 12px;

        padding: 120px 8% 80px ;

        width: 70%;

        @media (max-width: 1200px) {
            padding: 80px 4% 60px;
        }

        @media (max-width: 768px) {
            padding: 64px 24px 32px;

            width: 100%;
        }

        @media (max-width: 480px) {
            padding: 40px 24px 28px;
        }
    }

    .banner__title {
        display: inline-block;

        font-size: 24px;
        font-weight: 700;

        padding: 8px;
    }

    .banner__subtitle {
        padding: 8px;

        width: 55%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.button {
    background: #DD2A1B;

    color: #FEFEFE;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 200ms;

    & > * {
        color: #FEFEFE;
    }

    svg > * {
        transition: 200ms;
    }

    &:hover {
        background: #DADADB;

        color: #141515;

        svg > * {
            fill: #141515;
        }

        & > * {
            color: #141515;
        }
    }

    &:active {
        background: #C3C4C4;
    }
}

.button__telephone {
    display: flex;
    column-gap: 9px;

    font-size: 20px;

    width: 255px;
    height: 70px;
}

.input {
    background: #C3C4C4;

    outline: 1px solid rgba(0, 0, 0, 0);

    font-size: 20px;

    transition: 200ms;

    width: 100%;

    &::placeholder {
        font-style: italic;
    }

    &:hover {
        outline: 1px solid #141515;
    }

    &:focus {
        outline: 2px solid #141515;
    }

    &._error {
        outline: 2px solid #DD2A1B;
    }
}

.textarea {
    @extend .input;

    resize: none;
}

.input-checkbox {
    background: #C3C4C4;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 12px;
    height: 12px;
    
    .input-checkbox_icon {
        background: none;

        content: "";

        transition: 200ms;
        
        position: absolute;

        width: 50%;
        height: 50%;
    }

    .input-checkbox__input:checked + .input-checkbox_icon {
        background: #DD2A1B;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    .contact__item {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }

    .contact__svg {
        display: flex;
        align-items: center;
    }

    .contact__text {
        a {
            text-decoration: none;
        }
    }
}

.container {
    padding: 0 21%;

    @media (max-width: 1400px) {
        padding: 0 10%;
    }

    @media (max-width: 1000px) {
        padding: 0 5%;
    }

    @media (max-width: 768px) {
        padding: 0 2%;
    }
}

section {
    margin-bottom: 72px;

    @media (max-width: 768px) {
        margin-bottom: 64px;
    }

    .section__title {
        font-size: 32px;
        font-weight: 700;
    
        margin-bottom: 85px;

        &.mb-20 {
            margin-bottom: 20px;
        }

        @media (max-width: 768px) {
            font-size: 28px;

            margin-bottom: 32px;
        }
    }
    
    &.section-flex,
    .section-flex {
        display: flex;
        column-gap: 30px;

        @media (max-width: 768px) {
            align-items: center;
            flex-direction: column;
            row-gap: 20px;

            width: 100%;
        }
    }
}

.slider {
    position: relative;
    display: flex;
    align-items: center;

    .slider__arrow {
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: 200ms;

        position: absolute;

        width: 36px;
        height: 36px;

        z-index: 100;

        &:first-child {
            left: -75px;

            @media (max-width: 1024px) {
                left: -5%;
            }

            @media (max-width: 768px) {
                left: 3%;
            }
        }

        &:last-child {
            right: -75px;

            @media (max-width: 1024px) {
                right: -5%;
            }

            @media (max-width: 768px) {
                right: 3%;
            }
        }

        &:hover {
            background: #DD2A1B;

            .slider__arrow_svg > * {
                fill: #FEFEFE;
            }
        }
    }

    .slider__arrow_svg > * {
        transition: 200ms;
    }
    
    .slider__arrow_left {
        transform: rotate(180deg);
    }
}

.swipper {
    .swiper-container {
        overflow-x: hidden;
    }

    .swiper-slide {
        text-align: center;

        opacity: 0;
        
        &.swiper-slide-visible {
            opacity: 1;
        }
    }
}

.list__ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .list_li {
        display: flex;
        align-items: center;
        column-gap: 8px;

        &::before {
            content: "";

            background: url('../img/list.svg') no-repeat;
            
            max-width: 16px;
            min-width: 16px;
            max-height: 16px;
            min-height: 16px;
        }
    }
}

.p {
    font-size: 20px;

    &._error {
        color: #DD2A1B;
        
        font-weight: 700;
    }

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.modal {
    background: none;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: -100%;
    left: 0;

    transition: 1s;

    width: 100%;
    height: 100%;

    z-index: 1000;

    @keyframes blackout-modal {
        0% {
            background: none;
        }
        50% {
            background: none;
        }
        100% {
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &._active {
        background: rgba(0, 0, 0, 0.5);
    }

    .modal__content {
        padding: 25px 65px;

        max-width: 635px;

        @media (max-width: 768px) {
            padding: 15px 25px;

            width: 90%;
        }

        @media (max-width: 400px) {
            padding: 10px 15px;

            width: 95%;
        }
    }

    .modal__title {
        font-size: 32px;
        font-weight: 700;

        margin-bottom: 12px;

        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    .modal__subtitle {
        font-size: 20px;
        font-style: italic;

        margin-bottom: 22px;

        @media (max-width: 768px) {
            font-size: 18px;

            margin-bottom: 16px;
        }
    }

    .modal__inputs {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        @media (max-width: 576px) {
            row-gap: 10px;
        }
    }

    .modal__input {
        padding: 18px;
    }

    .modal__textarea {
        @extend .modal__input;
    }

    .modal__consent {
        display: flex;
        align-items: center;
        column-gap: 8px;

        margin-top: 10px;
        margin-bottom: 22px;
    }

    .modal__link {
        color: #DD2A1B;

        font-size: 12px;
    }

    .modal__button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 160px;
        height: 50px;
    }
}

._red-block {
    background: #DD2A1B;

    color: #FEFEFE;
}

._grey-block {
    background: #DADADB;

    color: #141515;
}